	<header class="entry-header">
		<span class="entry-format"></span>
			</header><!-- .entry-header -->

	<div class="entry-content">

<div class="wp-container-61fad2c934634 wp-block-columns alignwide">
<div class="wp-block-column" style="flex-basis:66.66%;">
<div class="wp-block-image"><figure class="aligncenter size-large"><img data-attachment-id="58" src="assets/img/noscuidamos.png" alt="" class="wp-image-58" sizes="(max-width: 1024px) 100vw, 1024px"></figure></div>
</div>
</div>
			</div><!-- .entry-content -->
