<header class="entry-header">
		<span class="entry-format"></span>
		<h1 class="entry-title">Menú</h1>	</header><!-- .entry-header -->

	<div class="entry-content">

<div class="wp-container-61f07788a3fc9 wp-block-group alignfull"><div class="wp-block-group__inner-container">
<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1 wp-block-jetpack-layout-gutter__nowrap wp-block-jetpack-layout-gutter__none">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<div class="wp-block-cover is-light has-parallax a8c-background" style="background-image:url('https://ceciema335096823.files.wordpress.com/2022/01/dinner-wallpaper-44729-45862-hd-wallpapers.jpg');"><span aria-hidden="true" class="has-background-dim-30 wp-block-cover__gradient-background has-background-dim"></span><div class="wp-block-cover__inner-container">
<h1 class="has-text-align-center a8c-section-title has-text-color" id="ceci-ema" style="color:#ffffff;"><em>Ceci &amp; Ema</em></h1>



<p class="has-text-align-center a8c-section-subtitle has-text-color" style="color:#ffffff;">Menú</p>
</div></div>



<div class="wp-container-61f07788a2965 wp-block-group a8c-section-group has-text-color has-background" style="background-color:#f6eedf;color:#3e6139;"><div class="wp-block-group__inner-container">
<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Bocaditos fríos</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<ul><li>Pollo thai</li><li>Crocante de mousse de salmón en masa philo</li><li>Mini pan de pita con jamón crudo y queso blanco</li><li>Palmitas con roquefort y nuez</li><li>Rulos de bondiola, queso de cabra y rúcula.</li><li>Shots con brochette capresse</li><li>Tostaditas con guacamole</li><li>Cucharitas con berenjenas a la provenzal</li></ul>
</div>
</div>



<div style="height:64px;" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>



<div class="wp-container-61f07788a2d3d wp-block-group a8c-section-group has-text-color has-background" style="background-color:#65855f;color:#f6eedf;"><div class="wp-block-group__inner-container">
<hr class="wp-block-separator">



<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Bocaditos calientes</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<ul><li>Arrolladitos primavera con salsa de soja</li><li>Brochette de cerdo con ciruela</li><li>Brochette de lomo, morrón y panceta</li><li>Langostinos rebozados con salsa de ali oli</li><li>Croquetas de espinaca</li><li>Cazuelitas de pollo al curry</li><li>Pañuelitos de aceituna y gruyere</li><li>Empanaditas de jamón y queso</li><li>Bastones de mozzarella&nbsp;</li></ul>
</div>
</div>
</div></div>



<div class="wp-container-61f07788a30cf wp-block-group a8c-section-group has-text-color has-background" style="background-color:#f6eedf;color:#3e6139;"><div class="wp-block-group__inner-container">
<hr class="wp-block-separator">



<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Plato Principal</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="a8c-section-column-text">Petite entrecotte en salsa dijon acompañado de boniatos y zucchinis salteados en roquefort</p>
</div>
</div>
</div></div>



<div class="wp-container-61f07788a3469 wp-block-group a8c-section-group has-text-color has-background" style="background-color:#65855f;color:#f6eedf;"><div class="wp-block-group__inner-container">
<hr class="wp-block-separator">



<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Postre individual</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="a8c-section-column-text">Copa de helado de crema americana con salsa de frutos del bosque acompañado de waffle de vainilla</p>
</div>
</div>
</div></div>



<div class="wp-container-61f07788a381f wp-block-group a8c-section-group has-text-color has-background" style="background-color:#f6eedf;color:#3e6139;"><div class="wp-block-group__inner-container">
<hr class="wp-block-separator">



<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Menú infantil</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="a8c-section-column-text">Nuggets de pollo con cono de papa fritas</p>
</div>
</div>
</div></div>



<div class="wp-container-61f07788a3bec wp-block-group a8c-section-group has-text-color has-background" style="background-color:#65855f;color:#f6eedf;"><div class="wp-block-group__inner-container">
<hr class="wp-block-separator">



<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Mesa de postres</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none"></div>
</div>
</div></div>



<hr class="wp-block-separator">
</div>
</div>
</div></div>
