<header class="entry-header">
  <span class="entry-format"></span>
		<h1 class="entry-title">Menú</h1>	</header><!-- .entry-header -->

	<div class="entry-content">

<div class="wp-container-61f07788a3fc9 wp-block-group alignfull"><div class="wp-block-group__inner-container">
<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1 wp-block-jetpack-layout-gutter__nowrap wp-block-jetpack-layout-gutter__none">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<div class="wp-block-cover is-light has-parallax a8c-background" style="background-image:url('assets/img/dinner-wallpaper-44729-45862-hd-wallpapers.jpg');"><span aria-hidden="true" class="has-background-dim-30 wp-block-cover__gradient-background has-background-dim"></span><div class="wp-block-cover__inner-container">
<h1 class="has-text-align-center a8c-section-title has-text-color" id="ceci-ema" style="color:#ffffff;"><em>Vero &amp; Seba</em></h1>



<p class="has-text-align-center a8c-section-subtitle has-text-color" style="color:#ffffff;">Menú</p>
</div></div>



<div class="wp-container-61f07788a2965 wp-block-group a8c-section-group has-text-color has-background" style="background-color:#f6eedf;color:#3e6139;"><div class="wp-block-group__inner-container">
<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Entrada</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<ul><li>Bocaditos fríos</li><li>Bocaditos calientes</li></ul>
</div>
</div>



<div style="height:64px;" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>



<div class="wp-container-61f07788a2d3d wp-block-group a8c-section-group has-text-color has-background" style="background-color:#65855f;color:#f6eedf;"><div class="wp-block-group__inner-container">
<hr class="wp-block-separator">



<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Plato Principal</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
  <p class="a8c-section-column-text">Petit entrecot en salsa de hongos silvestres acompañado de risotto de vegetales al vino tinto</p>
</div>
</div>
</div></div>



<div class="wp-container-61f07788a30cf wp-block-group a8c-section-group has-text-color has-background" style="background-color:#f6eedf;color:#3e6139;"><div class="wp-block-group__inner-container">
<hr class="wp-block-separator">



<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Vegetariano</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="a8c-section-column-text">Burrito vegetariano sobre colchon de rúcula y nueces en salsa de hongos silvestres</p>
</div>
</div>
</div></div>



<div class="wp-container-61f07788a3469 wp-block-group a8c-section-group has-text-color has-background" style="background-color:#65855f;color:#f6eedf;"><div class="wp-block-group__inner-container">
<hr class="wp-block-separator">



<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Infantil</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="a8c-section-column-text">Nuggets de pollo con papas fritas</p>
</div>
</div>
</div></div>



<div class="wp-container-61f07788a381f wp-block-group a8c-section-group has-text-color has-background" style="background-color:#f6eedf;color:#3e6139;"><div class="wp-block-group__inner-container">
<hr class="wp-block-separator">



<h2 class="has-text-align-center a8c-section-title" id="entrada"><em>Postre Individual</em></h2>



<div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1">
<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p class="a8c-section-column-text">Copa de helado de crema con salsa de frutos del bosque acompañado de waffle de vainilla</p>
</div>
</div>
</div></div>
</div>
</div>
</div></div>
