<header class="entry-header">
		<span class="entry-format"></span>
		<h1 class="entry-title">Gracias por acompañarnos</h1>	</header><!-- .entry-header -->

	<div class="entry-content">

<div class="wp-container-61f0773f19df9 wp-block-group alignwide is-style-default" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;"><div class="wp-block-group__inner-container">
<div class="wp-container-61f0773f19a93 wp-block-columns alignwide">
<div class="wp-block-column" style="flex-basis:66.66%;">
<figure class="wp-block-image size-large"><img data-attachment-id="138" src="assets/img/agradecimientos.jpg" alt="" class="wp-image-138"></figure>
</div>
</div>
</div></div>
			</div><!-- .entry-content -->
