	<header class="entry-header">
		<span class="entry-format"></span>
		<h1 class="entry-title">Porque la vida se&nbsp;comparte…</h1>	</header><!-- .entry-header -->

	<div class="entry-content">

<div class="wp-container-61fad3a0d55ce wp-block-columns">
<div class="wp-block-column">
<h2 id="dejanos-una-palabra-un-consejo-un-recuerdo-gracias-por-venir" style="font-style:normal;font-weight:300;">Dejanos una palabra, un consejo, un recuerdo. ¡Gracias por venir!</h2>
</div>
</div>


<div id="contact-form-40">
<form action="https://send.pageclip.co/ZPnbyJ6eDB07qdD32ITq6Dg7nfdDHEZU" method="POST" class="contact-form commentsblock wp-block-jetpack-contact-form">
  <script>
        ( function () {
          const contact_forms = document.getElementsByClassName('contact-form');

          for ( const form of contact_forms ) {
            form.onsubmit = function() {
              const buttons = form.getElementsByTagName('button');

              for( const button of buttons ) {
                button.setAttribute('disabled', true);
              }
            }
          }
        } )();
      </script>

  <div class="grunion-field-wrap grunion-field-name-wrap">
  <label for="g40-nombre" class="grunion-field-label name">Nombre<span></span></label>
  <input type="text" name="Nombre" id="g40-nombre" value="" class="name" required="" aria-required="true">
  <input type="text" name="subject" value="Boda Vero y Seba - Nuevo Mensaje" hidden="true"/>
    </div>



  <div class="grunion-field-wrap grunion-field-textarea-wrap">
  <label for="contact-form-comment-g40-mensaje" class="grunion-field-label textarea">Mensaje<span></span></label>
  <textarea name="Mensaje" id="contact-form-comment-g40-mensaje" rows="20" class="textarea" required="" aria-required="true"></textarea>
    </div>


  <div class="wp-block-jetpack-button is-style-fill wp-block-button" style="max-width: 100%"><button class="wp-block-button__link is-style-fill" style="width: 39%; max-width: 100%" data-id-attr="placeholder" type="submit">Enviar</button></div>
</form>
</div>
</div><!-- .entry-content -->
