<div id="page" class="hfeed site">
  <div id="menu-toggle-nav" class="panel" [ngClass]="{ 'show': displayNav, 'hide': !displayNav }">
    <nav id="site-navigation" class="main-navigation" role="navigation">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
      <div class="menu-primary-menu-container">
        <ul id="menu-primary-menu" class="menu">
          <li *ngFor="let item of menu" [id]="item.id" class="menu-item menu-item-type-post_type menu-item-object-page {{ item.id }}" routerLinkActive="current-menu-item page_item {{ item.pageId }} current_page_item">
            <a [routerLink]="item.link" (click)="displayNav = !displayNav" aria-current="page">{{ item.title }}</a>
          </li>
        </ul>
      </div>
    </nav><!-- #site-navigation -->
  </div>
<header id="masthead" class="site-header" role="banner">
  <div class="site-header-wrapper">
    <div class="site-branding">
      <h1 class="site-title"><a routerLink="/" rel="home">Vero&amp;Seba</a></h1>
      <h2 class="site-description"></h2>
    </div>
    <div class="toggles">
      <div id="menu-toggle" class="toggle active" title="Menu" (click)="displayNav=!displayNav">
        <span class="screen-reader-text">Menu</span>
      </div><!-- #menu-toggle -->
    </div><!-- .toggles -->
  </div>
</header><!-- #masthead -->


  <div id="content" class="site-content">

    <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">

        <article id="post-31" class="post-31 page type-page status-publish hentry">
          <router-outlet></router-outlet>
        </article><!-- #post-## -->

      </main><!-- #main -->
    </div><!-- #primary -->

  </div><!-- #content -->

  <footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    <a href="https://wordpress.com/?ref=footer_custom_powered" rel="nofollow">Powered by Los Mosqueteros</a>.
  </div><!-- .site-info -->
  </footer><!-- #colophon -->
</div>

