:host {
  #menu-toggle-nav {
    transition: all .8s ease-out;
    display: block;
    overflow:hidden;
    &.show {
      max-height: 200px;
    }
    &.hide {
      max-height: 0px;
    }
  }
  .main-navigation .menu-item>a, .main-navigation .menu-item>a {
    color: #000;
  }
  .main-navigation .current_page_item>a, .main-navigation .menu-item:hover>a, .main-navigation .current-menu-item>a {
    color: #fff;
  }
}

