@use 'sections/index.scss' as index;
@use 'sections/main.scss' as main;


body.custom-background,
.custom-background .wp-caption {
  background-color: #f6eedf				}
.custom-background img.alignleft,
.wp-caption.alignleft,
img.alignright,
.wp-caption.alignright,
.author-archives-img,
.comment-author .avatar-wrapper {
  border-top-color: #f6eedf;
  border-bottom-color: #f6eedf;
}
